.env
*.env
.venv
*.venv
*.db.sqlite3
*.db.sqlite
__pycache__/
__pycache__/*
*.pyc
.idea
*.idea
.idea/*
.vscode
.vscode/*
*.sqlite3
.sqlite3
.idea
.vscode
.vscode/*

*.sqlite3
.sqlite3
.idea
.log
*.log
expedier/media
expedier/static
expedier/staticfiles
*static*
*.DS_Store
*.DS_Store/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

appdata_dumps
appdata_dumps/*

log_backups
log_backups/*
